{% set route = app.request.get('_route') %}
<nav class="navbar navbar-dark bg-inverse navbar-full" style="background-color: #0b0c0c;">
    <a class="navbar-brand" href="#">Helpdesk</a>
    <ul class="nav navbar-nav">
        <li class="nav-item {% if route == 'homepage' %}active{% endif %}">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li class="nav-item">
                <a class="nav-link" href="/tickets/list">My Tickets</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="/tickets/new">Knowledgebase</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tickets/new">News</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary-outline" href="/tickets/new">New Ticket</a>
        </li>
        <li class="nav-item pull-xs-right {% if route == 'auth_login' %}active{% endif %}">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a class="nav-link" href="{{ path('auth_logout') }}">
                    Logout
                </a>
            {% else %}
                <a class="nav-link" href="{{ path('auth_login') }}">Login</a>
            {% endif %}
        </li>
    </ul>
    <form class="form-inline pull-xs-right" method="post" action="{{ path('search') }}">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." name="value">
        </div>
    </form>
</nav>