{% extends "AppBundle::layout.html.twig" %}
{% block title %}Register · Helpdesk{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid" style="height: 100vh;">
        <div class="container">
            <h1 class="display-3">Success</h1>
            <p class="lead">Your account has been registered.</p>
        </div>
    </div>
{% endblock content %}